<p>analysis works!</p>

<div class='table-responsive'>
<table class='table'>
    <thead>        
        <tr>
            <th>Time</th>
            <th>Visitor</th>
            <th>Home</th>
            <th>Spread</th>
            <th>Model Prediction</th>
            <th>Visitor Score</th>
            <th>Home Score</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2/11/2020 8:30 PM</td>
            <td>Spurs</td>
            <td>Celtics</td>
            <td>-7</td>
            <td>-5.4</td>
            <td>85</td>
            <td>83</td>
        </tr>
    </tbody> 
</table>
</div>	
							
